/* Basic set ups */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: lightgray;
    background-image: url("https://img.elo7.com.br/product/zoom/236CD3B/papel-de-parede-modelo-cimento-queimado-rustico-papel-de-parede.jpg");

    font-size: 1.5rem;
    font-family: Calibri, sans-serif;
    line-height: 1.5;
}

img {
    display: block;
}

/* var elements */
:root {
    --NORMAL-BORDER: 1px solid black;
    --H-PADDING: 0.5rem 2rem;
    --H-BORDER: 5px double lightgray;
}

/* Basic styles for navbar */
.navbar {
    position: absolute;
    padding: 10px;
}

/* Hamburger button styles */
.hamburger {
    position: fixed;
    top: 110px;
    left: 0;
    font-size: 2rem;
    border: none;
    padding: 0.5rem 1rem;
    background-color: #f1efef;
    color: black;
    animation: shining 3s infinite;
}

.hamburger:hover {
    cursor: pointer;
    font-weight: bold;
}

/* Menu styles */
.menu {
    display: none; /* Hidden by default */
    position: fixed;
    left: 0;
    bottom: 12rem;
    background-color: whitesmoke;
    padding: 10px;
}

/* Slide-down animation */
@keyframes slideDown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Slide-up animation */
@keyframes slideUp {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-20px);
        opacity: 0;
    }
}

/* Shining animation */
@keyframes shining {
    0% {
        box-shadow: 0 0 5px 0 rgb(241, 239, 239), 0 0 10px 2px rgba(245, 245, 245, 0.68), 0 0 15px 4px rgba(245, 245, 245, 0.68);
    }
    50% {
        box-shadow: 0 0 5px 0 rgb(246, 245, 245), 0 0 10px 2px rgb(255, 255, 255), 0 0 15px 4px rgba(245, 245, 245, 0.68), 0 0 30px 8px rgb(251, 247, 247);
    }
    100% {
        box-shadow: 0 0 5px 0 rgba(245, 245, 245, 0.68), 0 0 10px 2px rgba(245, 245, 245, 0.68), 0 0 15px 4px rgba(245, 245, 245, 0.68);
    }
}

/* Navigation menu */
.menu ul {
    list-style: none;
    border-bottom: var(--NORMAL-BORDER);
    display: flex;
    flex-flow: column nowrap;
    width: 200px;
}

.menu ul li {
    padding: 10px;
    border-top: var(--NORMAL-BORDER);
}

.menu ul li a {
    text-decoration: none;
    color: black;
}
.menu ul li:nth-child(1) {
    background-color: gold;
}
.menu li:nth-child(1) a:hover{
    color: red;
}

.menu li a:hover{
    transform: scale(1.1);
    display: block;
    transition: all;
    color: black;
    font-weight: bold;
}

.menu a:hover{
    transform: scale(1.2);
    transition: all;
}

/* Show menu when active */
.menu.active {
    display: block;
}

.tape{
    background-color: #1c1c1c;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container1 {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

/* Headers */
h1 {
    background-image: radial-gradient(black, #3a3939) ;
    text-shadow: 2px 1px #757474;
    color: lightgray;
    font-size: 200%;
    padding: 10px 20px;
    border-radius: 50px;
    border: 8px double lightgray;
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}

.mypic{
    width: 50%;
}

.mypic img{
    width: 90%;
    height: auto;
    min-width: 200px;
    border-radius: 50%;
    margin: 20px auto;
    border: 5px dashed lightgray;
    box-shadow: 10px 15px 50px rgba(0, 0, 0, 0.5);;
}

.about h2, .work h2, .skills h2 , .contact h2{
    text-transform: uppercase;
    background-image: radial-gradient(black, #3a3939) ;
    text-shadow: 2px 1px #757474;
    color: lightgray;
    font-size: 200%;
    display: block;
    width: 100%;
    padding: var(--H-PADDING);
    border-top: var(--H-BORDER);
    border-bottom: var(--H-BORDER);
}

/* About me section */
.about-box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    background-color: #13263a;
    width: 90%;
    margin: 40px auto;
    border-radius: 20px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}
.myavatar{
    margin: 40px auto 0 auto;
}
.myavatar img {
    width: 100%;
    height: auto;
    margin: 0 25px;
    border: 3px solid white;
    border-radius: 10px;
}
.myavatar figcaption {
    display: block;
    margin: 10px 80px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    background-color: #a115a1;
    color: white;
    border-radius: 30px;
    border: 3px solid white;
    white-space: nowrap;

}
.info{
    margin: 10px;
}
.info ul {
    padding: 0 40px 20px 20px;
    margin-top: 30px;
}

/* Highlight text in info box */
.highlight {
    color: #a115a1;
}

.info ul li {
    list-style: none;
    margin-top: 20px;
    background-color: white;
    border-radius: 30px;
    color: #13263a;
    padding: 20px;
    text-align: justify;
    font-size: 1.4rem;
    letter-spacing: 2px;
}
.info ul li::before{
    content: "\272A";
    margin-right: 5px;
}

/* Work Section */
.work h3{
    text-align: center;
    margin: 40px;
    font-size: 3rem;
    white-space: nowrap;
}

/* RAG */
.project1 {
    background-color: #13263a;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    align-items: center;
    border-radius: 40px;
    margin: 40px auto;
    padding: 5px;
    width: 90%;
    font-weight: bold;
}

.project1 h3 {
    color: gold;
    background-color: #004AAD;
    border-radius: 50px;
    margin: 40px auto;
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
}

.projectRAG img {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.project1 p {
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    color: gold;
    background-color: #004AAD;
    border-radius: 50px;
    width: 95%;
}

.project1 ul {
    background-color: #004AAD;
    width: 95%;
    margin: 20px;
    border-radius: 20px;
}

.project1 li {
    color: gold;
    margin: 15px 30px;
    text-align: justify;
}
.project1 li:nth-child(1){
    list-style-type: none;
    background-color: gold;
    color: #004AAD;
    width: 98%;
    padding: 5px;
    margin: 10px auto;
    border-radius: 10px;
    font-size: 1.5rem;
}

/* GiveLife */
.project2 {
    background-color: #13263a;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    align-items: center;
    border-radius: 40px;
    margin: 40px auto;
    padding: 5px;
    width: 90%;
    font-weight: bold;
}

.top {
    background-color: #124069;
    color: #F9E9DE;
    display: block;
    text-align: center;
   width: 40%;
    margin: 20px auto;
    font-size: 2rem;
    border-radius: 30px;
    padding: 10px;
}

.project2 p {
    display: block;
    text-align: justify;
    margin: 70px 0 30px 0;
    padding: 20px;
    color: #124069;
    background-color: #F9E9DE;
    border-radius: 20px;
    width: 95%;
}

.project2 ul {
    background-color: #F9E9DE;
    width: 95%;
    margin: 20px;
    border-radius: 20px;
}

.project2 li {
    color: #124069;
    margin: 15px 30px;
    text-align: justify;
}

.project2 li:nth-child(1){
    list-style-type: none;
    background-color: #124069;
    color: #F9E9DE;
    width: 98%;
    padding: 5px;
    margin: 10px auto;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
}

.givelife img{
    width: 100%;
    height: auto;
    margin: 30px auto;
    border-radius: 10px;
}

/* Skills Section */
.skills {
    background-color: #13263a;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.skill-box {
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
}

.skill-box h3 {
    color: #34495e;
    margin-bottom: 10px;
    margin-left: -20px;
    background-color: white;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}

.skill-box ul {
    padding: 10px;
}

.skill-box ul li {
    padding: 5px 0;
    font-size: 1em;
    color: white;
    font-weight: bold;
}

/* Form container */
form {
    max-width: 90%;
    margin: 40px auto;
    padding: 20px;
    background: #13263a;
    color: white;
    border-radius: 20px;
}

/* Fieldset styling */
fieldset {
    border: none;
}
legend {
    font-size: 1.5em;
    font-weight: bold;
    font-style: revert;
    text-align: center;
    background: white;
    color: #13263a;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 40px;
}

/* Label styling */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Input and textarea styling */
input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    color: black;
}

/* Focus effects */
input:focus, textarea:focus {
    border-color: springgreen;
    outline: none;
    box-shadow: 0 0 8px lightgray;
}

/* Button styling */
.button-group {
    display: flex;
    justify-content: space-evenly;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.submit-btn {
    font-weight: bold;
    background: white;
    color: black;
}

.reset-btn {
    font-weight: bold;
    background: #e74c3c;
    color: black;
}

form button:hover {
    opacity: 0.5;
}

/* Footer */
footer {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.linkedin-icon svg {
   min-width: 50px;
    height: 50px;
}

.linkedin-icon:any-link svg{
    fill: #0072b1;
}

.linkedin-icon:hover svg {
    transform: scale(1.2); /* Enlarge size */
    fill: #046fc6;
}

.copy {
    color: gray;
    text-transform: uppercase;
    font-size: 0.5em;
    margin-top: -7px;
}

/* large screen size adjustments */
@media screen and (max-width: 1024px) {
    .about-box {
        flex-wrap: wrap;

    }
    .myavatar img {
        margin: auto;
        width: 90%;
    }
}

/* medium screen size adjustments */
@media screen and (max-width: 675px) {
    h1 {
        font-size: 180% ;
    }
}


/* medium screen size adjustments */
@media screen and (max-width: 481px) {
    body {
    font-size: 1.5rem;
}
}